body {
	margin: 0;
}
:root {
	background-color: #c5c1c0;
	color: #0a1612;
	font-family: "Source Code Pro", monospace;
}

.styledLink {
	text-decoration: none;
	padding-inline-start: 0;
	margin-right: 40%;
	color: #c5c1c0;
}

.styledLink:hover {
	color: #f7ce3e;
	transition: all 0.2s ease;
	border-radius: 10px;
	padding: 4%;
	text-transform: uppercase;
}

.aboutMe {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 40%;
}

.me {
	margin: 2%;
}

/* #75fd92; */
/* #D8B53A */
/* #e9ac1f */
/* #1acbe9; */
