:root {
	background-color: #000000;
	color: #e9ac1f;
}

.styledLink {
	text-decoration: none;
	padding-inline-start: 0;
	margin-right: 40%;
	color: #000000;
}

.styledLink:hover {
	color: #75fd92;
	transition: all 0.2s ease;
	border-radius: 10px;
	padding: 4%;
	text-transform: uppercase;
}

.aboutMe {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 40%;
}

.me {
	margin: 2%;
}

/* #75fd92; */
/* #D8B53A */
/* #e9ac1f */
/* #1acbe9; */
